
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-signin") do |f| %>


<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
<label for="floatingInput">Email address</label>
<%= f.email_field :email, autofocus: true, class:"form-control", id: "inputEmail", placeholder:"Email address" %>
 
  <label for="floatingPassword">Password</label>
  <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id: "inputPassword", placeholder:"Password"%>
  

<div class="checkbox mb-3">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div>
<button class="w-100 btn btn-lg btn-primary"  type="submit">Sign in</button>
<p class="mt-5 mb-3 text-muted"></p>

<%= render "devise/shared/links" %>
<% end %>


