

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
          <%= link_to  dashboard_index_path, class:"nav-link" do %>
            <a class="nav-link active" aria-current="page" href="#">
            <i data-feather="activity"></i>
              Dashboard
              <% end %>
            </a>
            </li>
            <li class="nav-item">
              <%= link_to "/", class:"nav-link"  do %>
                <i class="fas fa-home"></i>
                
                Home page 
                <% end %>
              </a>
            </li>
          </li>
          <li class="nav-item">
            <%= link_to houses_path, class:"nav-link"  do %>
              <i data-feather="home"></i>
              Houses
              <% end %>
            </a>
          </li>
          <li class="nav-item">
          <%= link_to guests_path, class:"nav-link"  do %>
            <i data-feather="users"></i>
              Guests
              <% end %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            <i data-feather="bar-chart"></i>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            <i data-feather="server"></i>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
          <i data-feather="folder-plus"></i>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-feather="folder"></i>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            <i data-feather="folder"></i>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            <i data-feather="folder"></i>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            <i data-feather="folder"></i>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>



    
    
  