// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.photo{
    width: 200px;
    height: 150px;
   display: align;
    }

.full-image{
    width: 1000px;
    height: 500px;
}

    // .infos{
    // text-align:flex;
    // }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 1000px;
        margin: auto;
        text-align: center;
        font-family: arial;
      }

      .card-small {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 100px;
        margin: auto;
        text-align: center;
        font-family: arial;
      }
      
      .price {
        color: grey;
        font-size: 22px;
      }
      
      .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      
      .card button:hover {
        opacity: 0.7;
      }

      #prop-details{
        height:150px;
        overflow: hidden;
      }

      .outline{
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #blue;
        text-align: center;
        cursor: pointer;
        width: 20%;
        font-size: 18px;
      
      }